<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AGB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<section class="msger">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="/static/img/Logo.png" alt="" width="250" height="55">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('view_fragebogen') }}">Fragebogen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('view_formular') }}">Formular</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('view_features') }}">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('view_pricing') }}">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('view_nb') }}">Nutzungsbedingung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('view_de') }}">Datenschutzerklärung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('view_impressum') }}">Impressum</a>
                </li>
            </ul>
        </div>
    </nav>
</section>

<div class="content container">
    <h3>Nutzungsbedingungen</h3>
    Die „X-Gesellschaft“ stellt Ihnen auf der Webseite „Legalrefund.at“ Informationen in Form eines Fragebogens im Bezug
    auf das Rücktrittsrecht und den Vertragsabschluss beim Warenkauf im Internet nach dem Fern- und
    Auswärtsgeschäfte-Gesetz (FAGG) zur Verfügung.
    Daneben werden Kontakte zur rechtlichen Beratung angeboten.
    Wir machen darauf aufmerksam, dass die folgenden Nutzungsbedingungen für die Nutzung aller Inhalte, Funktionen und
    Services gelten, welche auf der Webseite „Legalrefund.at“ zu finden sind. Lesen Sie die Nutzungsbedingungen
    aufmerksam, bevor Sie die Dienste von „Legalrefund.at“ in Anspruch nehmen.
    <br/> <br/>
    <h3>Haftung</h3>
    Die Dienste auf „Legalrefund.at“ dienen zum Zweck der Information über die erwähnten Themen. Für die Richtigkeit,
    Aktualität, Vollständigkeit und Verfügbarkeit aller zur Verfügung gestellten Dienste und Informationen wird trotz
    sorgfältiger Ausarbeitung keine Haftung übernommen. Damit verbunden behalten wir uns auch das Recht vor diesen
    Internetauftritt zu jeder Zeit teilweise oder ganz einzustellen. Sollten Personen rechtliche Schritte unternehmen
    wollen, welche sie auf die Informationen der Webseite „Legalrefund.at“ stützen, so wird dringend geraten
    qualifizierte rechtliche Beratung herbeizuziehen. Keine Dienste, welche auf der Webseite „Legalrefund.at“ angeboten
    werden, sind als qualifizierte rechtliche Beratung anzusehen und können so eine nicht ersetzen.
    Werden auf dieser Webseite Links zu Webseiten anderen Diensteanbietern gesetzt, ist hiermit darauf hingewiesen, dass
    die „X-Gesellschaft“ keinerlei Haftung oder Gewährleistung für die Richtigkeit, Aktualität, Vollständigkeit und
    Verfügbarkeit der externen Dienste übernimmt. Wir behalten uns auch das Recht vor solche Links ohne Vorankündigung
    zu ergänzen, zu ändern oder zu löschen. (Rechtlicher Stand 30.05.2021)
    <br/> <br/>
    <h3>Geistiges Eigentum</h3>
    Sämtliche Urheberrechte an den Inhalten wie das Design und Layout, die verfassten Texte, Grafiken und Bilder auf der
    Webseite „Legalrefund.at“ sind den rechtmäßigen Urhebern und Urheberinnen vorbehalten. Eine öffentliche Verwendung
    der angebotenen Dienste ist nur mit unserer Zustimmung und unter Angabe der rechtmäßigen Quelle erlaubt. Das bloße
    Verlinken auf unsere Dienste oder Werke bedarf keiner gesonderten Genehmigung.
    <br/> <br/>
    <h3>Anwendbares Recht</h3>
    Schlussbestimmungen: Auf die Nutzung der Informationen und Dienste findet ausschließlich österreichisches Recht
    Anwendung. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder
    nicht vollständig entsprechen sollten, bleiben die übrigen Teile in ihrem Inhalt und ihrer Gültigkeit davon
    unberührt.
    <br/> <br/>
</div>

</body>

<!-- Footer -->
<footer class="page-footer bg-light font-small">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="{{ url_for('view_impressum') }}">LegalRefund</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</html>