html {
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;

}

body {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
}

.content {
  margin-top: 2%;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.msger-chat  {
  margin: 20%;
}

.page-footer {
  margin-top: auto;
  width: 100%;
}

.page-footer a {
  color: lightslategrey;
}